// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#time {
  font-size: 22px;
  font-family: Arial;
  line-height: 36px;
}

#orderNumber{
  font-size: 22px;
  font-family: Arial;
  line-height: 36px;
}